body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.cover {
  margin: 1.5em;
}
.cover .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/shoes/hero.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}
.cover .wrapper header {
  display: flex;
  justify-content: space-between;
  background: #000000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cover .wrapper header .logo img {
  width: 6em;
}
.cover .wrapper header .menu {
  width: 2em;
  margin-top: -0.6em;
  margin-right: 1.5em;
  cursor: pointer;
}
.cover .wrapper header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.cover .wrapper header nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}
.cover .wrapper header nav .close svg, .cover .wrapper header nav .close path {
  fill: black;
}
.cover .wrapper header nav .close:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cover .wrapper header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
.cover .wrapper header nav ul li a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
.cover .wrapper header nav ul li a:hover {
  background: rgb(235, 235, 235);
}
.cover .wrapper header nav ul li .cart {
  width: 2em;
  transform: translateY(30%);
}
.cover .wrapper header nav ul li .cart path {
  fill: #E06C2C;
}
.cover .wrapper header nav.open-nav {
  transform: translateX(0);
}
.cover .wrapper section.hero {
  color: white;
  height: 75vh;
  opacity: 0;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}
.cover .wrapper section.hero h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}
.cover .wrapper section.hero .subhead {
  font-size: 1.4rem;
}
.cover .wrapper section.hero .down-arrow {
  stroke: white;
  position: absolute;
  bottom: 6em;
  width: 1em;
  height: 12%;
  animation: moveArrow 1s alternate-reverse infinite;
}
.cover .wrapper section.hero .down-arrow path {
  fill: white;
}
.cover .wrapper section.more-info .feature {
  margin-bottom: 3em;
}
.cover .wrapper section.more-info .feature .content .title {
  font-weight: bold;
  font-size: 1.2rem;
}
.cover .wrapper section.more-info .feature .content .desc {
  line-height: 1.5rem;
}
.cover .wrapper section.more-info .feature img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 18em;
}

.contact-section {
  background: #e9e9e9;
  padding: 1.5em;
  margin: 0;
}
.contact-section .container .contact-left h2 {
  font-size: 2rem;
}
.contact-section .container .contact-left form {
  padding-top: 3em;
}
.contact-section .container .contact-left form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.contact-section .container .contact-left form input, .contact-section .container .contact-left form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 2.5em;
  border-radius: 0.3em;
  border: 1px solid #f0f0ef;
  box-sizing: border-box;
}
.contact-section .container .contact-left form input[type=submit] {
  background-color: #E06C2C;
  color: #f0f0ef;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
.contact-section .container .contact-left form input[type=submit]:hover {
  background-color: #A35834;
}
.contact-section .container .contact-right iframe {
  width: 100%;
  height: 300px;
}

footer {
  padding: 1.5em;
  background: #000000;
  color: white;
}
footer .col-1 {
  display: flex;
}
footer .col-1 li {
  list-style-type: none;
  padding: 0.3rem 0;
}
footer .col-1 li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
footer .footer-logo {
  height: 100%;
  width: 10vw;
  background-image: url("../images/others/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 680px) {
  body {
    font-family: "Poppins", sans-serif;
  }
  body .cover {
    margin: 1.5em 5em;
  }
  .contact-section {
    padding: 1.5em 5em;
  }
  footer {
    padding: 1.5em 5em;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 920px) {
  .cover .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
  }
  .cover .wrapper header {
    align-items: center;
  }
  .cover .wrapper header .menu {
    display: none;
  }
  .cover .wrapper header nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  .cover .wrapper header nav .close {
    display: none;
  }
  .cover .wrapper header nav ul {
    display: flex;
    margin: 0;
  }
  .cover .wrapper header nav ul li a {
    color: white;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  .cover .wrapper header nav ul li a:hover {
    background: none;
    text-decoration: underline;
  }
  .cover .wrapper header nav ul li .cart {
    width: 2em;
    transform: translateY(-10%);
    color: #E06C2C;
  }
  .cover .wrapper section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  .cover .wrapper section.hero p {
    margin-bottom: 2em;
  }
  .cover .wrapper section.hero .down-arrow {
    stroke: black;
    position: unset;
  }
  .cover .wrapper section.hero .down-arrow path {
    fill: black;
  }
  .cover .wrapper section.more-info .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .cover .wrapper section.more-info .feature .content {
    text-align: right;
    width: 25em;
  }
  .cover .wrapper section.more-info .feature img {
    width: 25em;
  }
  .cover .wrapper section.more-info .feature.reverse {
    grid-template-areas: "left right";
  }
  .cover .wrapper section.more-info .feature.reverse .content {
    grid-area: right;
    text-align: left;
    width: 25em;
    justify-self: left;
  }
  .cover .wrapper section.more-info .feature.reverse img {
    grid-area: left;
    width: 25em;
  }
  .contact-section {
    width: 100%;
    padding: unset;
  }
  .contact-section .container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .contact-section .container .contact-left {
    width: 50%;
    padding: 1.5em 5em;
  }
  .contact-section .container .contact-right {
    width: 50%;
  }
  .contact-section .container .contact-right iframe {
    width: 100%;
    height: 100%;
  }
  footer {
    padding: 1.5em 5em;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .wrapper .feature {
    gap: 0;
  }
  .contact-section .container {
    width: 1200px;
    margin: 0 auto;
  }
  footer {
    padding: 1.5em 5em;
  }
}/*# sourceMappingURL=main.css.map */